<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <th:block th:include="~{_shared/head}" />
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">

</head>

<body>
    <div class="wrapper">
        <th:block th:include="~{_shared/header}" />

        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Register</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/users/register}" method="POST">
                            <div class="label-holder textCol d-flex">
                                <label for="username" class="text-white">Username</label>
                            </div>
                            <div class="input-group form-group">
                                <input type="text" class="form-control" id="username" name="username" minlength="3">
                            </div>

                            <div class="label-holder textCol d-flex">
                                <label for="email" class="text-white">Email</label>
                            </div>
                            <div class="input-group form-group">
                                <input type="email" class="form-control" id="email" name="email">
                            </div>

                            <div class="label-holder textCol d-flex">
                                <label for="password" class="text-white">Password</label>
                            </div>
                            <div class="input-group form-group">
                                <input type="password" class="form-control" id="password" name="password" minlength="8">
                            </div>

                            <div class="label-holder textCol d-flex">
                                <label for="confirmPassword" class="text-white">Confirm Password</label>
                            </div>
                            <div class="input-group form-group">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" minlength="8">
                            </div>

                            <div class="label-holder textCol d-flex">
                                <label for="level" class="text-white">Choose Spanish Level</label>
                            </div>
                            <div id="radioLevelBtn">
                                <input type="radio" id="beginner" name="level" value="beginner" checked="checked">
                                <label id="beginnerBtn" for="level">Beginner</label>
                                <input type="radio" id="intermediate" name="level" value="intermediate">
                                <label for="level">Intermediate</label><br>
                            </div>

                            <div class="button-container">
                                <a href="/users/login"><span class="btn float-left cancel_btn">Cancel</span></a>
                                <button type="submit" class="btn float-right yellow_btn">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:include="~{_shared/footer}" />
    </div>
</body>

</html>