<th:block th:fragment>
        <div class="header-container">
            <div class="header">
                <a class="logo">LearnSpanish</a>
                <div class="header-right">
                    <a class="inactive active-home" href="/home">Home</a>
                    <a class="inactive active-learn" th:href="@{'/learn/grammar/' + ${session.email}}">Learn</a>
                    <a class="inactive active-profile" th:href="@{'/profile/' + ${session.email}}">[[${session.username}]]</a>
                    <a class="inactive active-signOut" th:href="@{/logout}">Sign Out</a>
                </div>
            </div>
        </div>
</th:block>