<!-- All Rights Reserved, Copyright © Anna Vasileva 2020. -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocabulary</title>
    <th:block th:include="~{_shared/head}" />
    <link rel="stylesheet" type="text/css" href="/css/learnActiveTab.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/activeSidebarOptionVocabulary.css">
    <link rel="stylesheet" type="text/css" href="/css/vocabularyBox.css">
    <link rel="stylesheet" type="text/css" href="/css/changeCardBtn.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <script type="text/javascript" src="/js/flashcardMovement.js"></script>
</head>

<body>
    <div class="wrapper">
        <th:block th:include="~{_shared/header}" />

        <div class="container">
            <th:block th:include="~{_shared/sidebar}" />

            <div class="sidebar-content">
                <div class="sidebar-content-header">
                    <h3>Translate the word</h3>
                    <h5>Click on the card to flip it</h5>
                </div>
                <div class="sidebar-content-body">
                    <th:block th:include="~{_shared/flashcardsLogic}" />
                    <div class="row justify-content-end">
                        <div id="doneBtn" class="col align-self-end text-right" style="display: none;">
                            <div th:if="${session.vocabularyLevel == currentLesson}">
                                <div th:if="${#strings.equals(session.translationsStatus, 'IN_PROGRESS')}">
                                    <form th:action="@{/vocabulary/translationsUp}" th:object="${session.email}" method="POST">
                                        <div class="button-container">
                                            <button type="submit" class="btn float-right create_btn yellow_btn">Done</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:include="~{_shared/footer}" />
    </div>
</body>

</html>