<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProfile</title>
    <th:block th:include="~{_shared/head}" />
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>

<body>
    <div class="wrapper">
        <th:block th:include="~{_shared/header}" />

        <div class="container">
            <div class="sidebar-content">
                <div class="sidebar-content-header">
                    <h3> Profile Information</h3>
                </div>
                <div class="sidebar-content-body">
                    <table>
                        <tr>
                            <td>Username: </td>
                            <td>[[${session.username}]]</td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td>[[${session.email}]]</td>
                        </tr>
                        <tr>
                            <td>Level: </td>
                            <td th:if="${#strings.equals(session.level, 'BEGINNER')}">Beginner</td>
                            <td th:unless="${#strings.equals(session.level, 'BEGINNER')}">Intermediate</td>
                        </tr>
                    </table>
                </div>
                <br>

                <div class="sidebar-content-header">
                    <h3> Profile Progress</h3>
                </div>
                <div class="sidebar-content-body">
                    <table class="myTable">
                        <tr class="drawTableLine">
                            <td>Grammar Level: </td>
                            <td>Lesson [[${session.grammarLevel}]] - [[${session.grammarLessonTitle}]]</td>

                        </tr>
                        <tr>
                            <td>Vocabulary Level: </td>
                            <td>Lesson [[${session.vocabularyLevel}]] - [[${session.vocabularyLessonTitle}]]</td>
                        </tr>
                        <tr>
                            <td class="tabRow">Pictures: </td>
                            <td th:if="${#strings.equals(session.picturesStatus, 'IN_PROGRESS')}">
                                <div class="italicText">In progress</div>
                            </td>
                            <td th:unless="${#strings.equals(session.picturesStatus, 'IN_PROGRESS')}">Finished</td>
                        </tr>
                        <tr>
                            <td class="tabRow">Translations: </td>
                            <td th:if="${#strings.equals(session.translationsStatus, 'IN_PROGRESS')}">
                                <div class="italicText">In progress</div>
                            </td>
                            <td th:unless="${#strings.equals(session.translationsStatus, 'IN_PROGRESS')}">Finished</td>
                        </tr>
                        <tr class="drawTableLine">
                            <td class="tabRow">Antonyms: </td>
                            <td th:if="${#strings.equals(session.antonymsStatus, 'IN_PROGRESS')}">
                                <div class="italicText">In progress</div>
                            </td>
                            <td th:unless="${#strings.equals(session.antonymsStatus, 'IN_PROGRESS')}">Finished</td>
                        </tr>
                        <tr>
                            <td>Practice Level: </td>
                            <td>Lesson [[${session.practiceLevel}]] - [[${session.practiceLessonTitle}]]</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <th:block th:include="~{_shared/footer}" />
    </div>
</body>

</html>