<!-- All Rights Reserved, Copyright © Anna Vasileva 2020. -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grammar</title>
    <th:block th:include="~{_shared/head}" />
    <link rel="stylesheet" type="text/css" href="/css/learnActiveTab.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/activeSidebarOptionGrammar.css">
    <link rel="stylesheet" type="text/css" href="/css/lessonBox.css">
    <link rel="stylesheet" type="text/css" href="/css/lockedLevel.css">
</head>

<body>
    <div class="wrapper">
        <th:block th:include="~{_shared/header}" />

        <div class="container">
            <th:block th:include="~{_shared/sidebar}" />

            <div class="sidebar-content">
                <div class="sidebar-content-header">
                    <h3>Choose Lesson</h3>
                </div>

                <div class="sidebar-content-body">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="lesson-box">
                                <a href="/grammar/lesson-1">Lesson 1</a>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.grammarLevel >= 2}">
                                <div class="lesson-box">
                                    <a href="/grammar/lesson-2">Lesson 2</a>
                                </div>
                            </div>
                            <div th:unless="${session.grammarLevel >= 2}">
                                <div class="lesson-box-locked">
                                    <div>Lesson 2</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.grammarLevel >= 3}">
                                <div class="lesson-box">
                                    <a href="/grammar/lesson-3">Lesson 3</a>
                                </div>
                            </div>
                            <div th:unless="${session.grammarLevel >= 3}">
                                <div class="lesson-box-locked">
                                    <div>Lesson 3</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col">
                            <div th:if="${session.grammarLevel >= 4}">
                                <div class="lesson-box">
                                    <a href="/grammar/lesson-4">Lesson 4</a>
                                </div>
                            </div>
                            <div th:unless="${session.grammarLevel >= 4}">
                                <div class="lesson-box-locked">
                                    <div>Lesson 4</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.grammarLevel >= 5}">
                                <div class="lesson-box">
                                    <a href="/grammar/lesson-5">Lesson 5</a>
                                </div>
                            </div>
                            <div th:unless="${session.grammarLevel >= 5}">
                                <div class="lesson-box-locked">
                                    <div>Lesson 5</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.grammarLevel >= 6}">
                                <div class="lesson-box">
                                    <a href="/grammar/lesson-6">Lesson 6</a>
                                </div>
                            </div>
                            <div th:unless="${session.grammarLevel >= 6}">
                                <div class="lesson-box-locked">
                                    <div>Lesson 6</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col">
                            <div th:if="${session.grammarLevel >= 7}">
                                <div class="lesson-box">
                                    <a href="/grammar/lesson-7">Lesson 7</a>
                                </div>
                            </div>
                            <div th:unless="${session.grammarLevel >= 7}">
                                <div class="lesson-box-locked">
                                    <div>Lesson 7</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.grammarLevel >= 8}">
                                <div class="lesson-box">
                                    <a href="/grammar/lesson-8">Lesson 8</a>
                                </div>
                            </div>
                            <div th:unless="${session.grammarLevel >= 8}">
                                <div class="lesson-box-locked">
                                    <div>Lesson 8</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.grammarLevel >= 9}">
                                <div class="lesson-box">
                                    <a href="/grammar/lesson-9">Lesson 9</a>
                                </div>
                            </div>
                            <div th:unless="${session.grammarLevel >= 9}">
                                <div class="lesson-box-locked">
                                    <div>Lesson 9</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-end">
                        <div class="col-4">
                            <div th:if="${session.grammarLevel >= 10}">
                                <div class="lesson-box">
                                    <a href="/grammar/lesson-10">Lesson 10</a>
                                </div>
                            </div>
                            <div th:unless="${session.grammarLevel >= 10}">
                                <div class="lesson-box-locked">
                                    <div>Lesson 10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:include="~{_shared/footer}" />
    </div>
</body>

</html>