<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
    <th:block th:include="~{_shared/head}" />
    <link rel="stylesheet" type="text/css" href="/css/learnActiveTab.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/activeSidebarOptionPractice.css">
    <link rel="stylesheet" type="text/css" href="/css/lessonBox.css">
</head>

<body>
    <div class="wrapper">
        <th:block th:include="~{_shared/header}" />

        <div class="container">
            <th:block th:include="~{_shared/sidebar}" />

            <div class="sidebar-content">
                <div class="sidebar-content-header">
                    <h3>Choose a Topic</h3>
                </div>

                <div class="sidebar-content-body">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="lesson-box">
                                <a href="/practice/lesson-1">1 of practice columns</a>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.practiceLevel >= 2}">
                                <div class="lesson-box">
                                    <a href="/practice/lesson-2">2 of practice columns</a>
                                </div>
                            </div>
                            <div th:unless="${session.practiceLevel >= 2}">
                                <div class="lesson-box-locked">
                                    <div>2 of practice columns</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.practiceLevel >= 3}">
                                <div class="lesson-box">
                                    <a href="/practice/lesson-3">3 of practice columns</a>
                                </div>
                            </div>
                            <div th:unless="${session.practiceLevel >= 3}">
                                <div class="lesson-box-locked">
                                    <div>3 of practice columns</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col">
                            <div th:if="${session.practiceLevel >= 4}">
                                <div class="lesson-box">
                                    <a href="/practice/lesson-4">4 of practice columns</a>
                                </div>
                            </div>
                            <div th:unless="${session.practiceLevel >= 4}">
                                <div class="lesson-box-locked">
                                    <div>4 of practice columns</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.practiceLevel >= 5}">
                                <div class="lesson-box">
                                    <a href="/practice/lesson-5">5 of practice columns</a>
                                </div>
                            </div>
                            <div th:unless="${session.practiceLevel >= 5}">
                                <div class="lesson-box-locked">
                                    <div>5 of practice columns</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.practiceLevel >= 6}">
                                <div class="lesson-box">
                                    <a href="/practice/lesson-6">6 of practice columns</a>
                                </div>
                            </div>
                            <div th:unless="${session.practiceLevel >= 6}">
                                <div class="lesson-box-locked">
                                    <div>6 of practice columns</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col">
                            <div th:if="${session.practiceLevel >= 7}">
                                <div class="lesson-box">
                                    <a href="/practice/lesson-7">7 of practice columns</a>
                                </div>
                            </div>
                            <div th:unless="${session.practiceLevel >= 7}">
                                <div class="lesson-box-locked">
                                    <div>7 of practice columns</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.practiceLevel >= 8}">
                                <div class="lesson-box">
                                    <a href="/practice/lesson-8">8 of practice columns</a>
                                </div>
                            </div>
                            <div th:unless="${session.practiceLevel >= 8}">
                                <div class="lesson-box-locked">
                                    <div>8 of practice columns</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div th:if="${session.practiceLevel >= 9}">
                                <div class="lesson-box">
                                    <a href="/practice/lesson-9">9 of practice columns</a>
                                </div>
                            </div>
                            <div th:unless="${session.practiceLevel >= 9}">
                                <div class="lesson-box-locked">
                                    <div>9 of practice columns</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-end">
                        <div class="col-4">
                            <div th:if="${session.practiceLevel >= 10}">
                                <div class="lesson-box">
                                    <a href="/practice/lesson-10">10 of practice columns</a>
                                </div>
                            </div>
                            <div th:unless="${session.practiceLevel >= 10}">
                                <div class="lesson-box-locked">
                                    <div>10 of practice columns</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:include="~{_shared/footer}" />
    </div>
</body>

</html>