.sidebar a.active-grammar {
    color: #FFC312;
    border-bottom: 1px solid #FFC312;
}

.sidebar a.active-grammar .sidebar-triangle {
    display: inline-block;
    height: 0;
    width: 0;
    margin-left: 15px;
    border: solid #FFC312;
    border-width: 0;
    border-top: 6px solid transparent;
    border-left: 12px solid #FFC312;
    border-bottom: 6px solid transparent;
}