@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
    height: 100%;
}

.container {
    height: max-content;
    width: 80%;
    z-index: 2;
    text-align: center;
    align-content: center;
}

.card {
    height: fit-content;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.card-body {
    padding: 0rem 1.25rem 1.25rem 1.25rem;
}

.input-group-prepend span {
    width: 45px;
    color: black;
    background-color: #FFC312;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

input:invalid {
    background-color: #FFAAAA;
}

.button-container {
    padding-top: 15px;
    margin-top: 5px;
}

.create_btn {
    width: 100px;
    color: black;
    background-color: #FFC312;
}

.create_btn:hover {
    color: black;
    background-color: white;
}

.cancel_btn {
    width: 100px;
    color: black;
    background-color: white;
}

.cancel_btn:hover {
    color: #FFC312;
    background-color: white;
}

.header-right a.active-login {
    background-color: #FFC312;
    color: black;
}

#radioLevelBtn {
    color: white;
    margin-left: 0px;
    text-align: left;
}

#beginnerBtn {
    margin-right: 50px;
}