<!-- All Rights Reserved, Copyright © Anna Vasileva 2020. -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnSpanish</title>
    <th:block th:include="~{_shared/head}" />
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>

<body>
    <div class="wrapper">
        <th:block th:include="~{_shared/header}" />

        <div class="container">
            <div class="info-box">
                <h2 th:text="${message}"></h2>
            </div>
        </div>

        <th:block th:include="~{_shared/footer}" />

    </div>
</body>

</html>