<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grammar</title>
    <th:block th:include="~{_shared/head}" />
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/lessonBox.css">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/grammarLesson.css">
</head>

<body>
    <div class="wrapper">
        <th:block th:include="~{_shared/header-logged}" />

        <div class="container">
            <div class="sidebar">
                <a class="active-tab" th:href="@{'/learn/grammar/' + ${session.email}}">Grammar <div
                        class="sidebar-triangle"></div></a>
                <a th:href="@{'/learn/vocabulary/' + ${session.email}}">Vocabulary <div class="sidebar-triangle"></div>
                    </a>
                <a th:href="@{'/learn/practice/' + ${session.email}}">Practice <div class="sidebar-triangle"></div></a>
            </div>

            <div class="sidebar-content">
                <div class="sidebar-content-header">
                    <h3>Grammar Lesson 9</h3>
                </div>

                <div class="sidebar-content-body scrollable">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat necessitatibus ipsa modi voluptates
                    odit molestias placeat? Ut neque, accusamus quisquam, fugit labore nobis doloremque sed corrupti
                    amet deserunt tenetur deleniti omnis ipsam perferendis libero dolorum quo debitis ex error dolorem
                    sapiente. Aut mollitia ducimus, ratione cumque voluptates illum. Temporibus quaerat libero itaque
                    accusamus, commodi ad id ullam, ducimus neque pariatur natus excepturi amet earum dolorem
                    consequatur dolores est veniam necessitatibus vitae facere adipisci. Fugit odio molestiae
                    accusantium quibusdam qui dolorum nulla. Quisquam nemo facere in, magnam culpa, reiciendis
                    architecto corrupti repellendus optio eum, fugit laborum dolorem voluptates beatae recusandae aut
                    quasi fugiat atque! Incidunt eligendi possimus dolorum nemo porro consectetur vel quae delectus esse
                    quas, amet numquam, ipsa dolor culpa provident veniam facere magnam architecto quaerat excepturi
                    cupiditate. Obcaecati accusantium aut illo necessitatibus dignissimos molestias vitae facere nobis
                    repellat rem omnis culpa odio fugiat ipsam sequi est corrupti, expedita modi pariatur atque
                    nesciunt, temporibus eum similique numquam. Dolore eveniet natus laborum ea necessitatibus nisi
                    deserunt, dolorum optio minus esse similique ab dolores voluptates possimus reiciendis veniam enim
                    blanditiis ullam tempore inventore asperiores? Voluptates repellat placeat laborum obcaecati odit
                    nesciunt, perspiciatis vero sunt consectetur natus. Recusandae dicta tempora aut aspernatur, quos
                    vero asperiores exercitationem voluptate sed nihil molestias atque fuga necessitatibus reiciendis
                    omnis obcaecati doloremque expedita qui, ipsam iure. Quae aperiam voluptatum vel sunt nostrum
                    voluptates minima doloremque iure eveniet pariatur, modi consequuntur neque ipsum ex fugit minus
                    autem necessitatibus. Minima ipsum ratione quidem, esse explicabo rerum ducimus numquam porro, vero
                    fugiat dolorum, tempora quos velit consectetur quasi cupiditate. Beatae veniam tenetur, consequuntur
                    recusandae dolore est rerum? Explicabo dolor, nihil qui eaque assumenda accusamus veniam reiciendis
                    enim corporis perferendis fugiat rerum officia at itaque numquam culpa maxime voluptas natus eum.
                    Adipisci reprehenderit facere nemo qui amet veritatis id aliquid, impedit hic expedita, sapiente
                    quasi sequi totam dolor voluptatibus sit delectus repellendus nesciunt voluptates, accusantium unde
                    blanditiis cum quae magnam. Deserunt quae reprehenderit vero illum doloremque! Inventore omnis natus
                    explicabo ipsum hic, praesentium nihil quaerat tenetur quae ex ut, maiores consequuntur, itaque
                    provident alias! Atque quod accusantium aperiam esse fuga eum deserunt recusandae voluptatum quis
                    eveniet tempore possimus pariatur, doloribus aut rem itaque in ut corrupti. Dolorum, et perferendis
                    a explicabo saepe unde earum temporibus veniam voluptatum debitis ex blanditiis fugiat ipsum?
                    Delectus blanditiis minima optio praesentium, harum repellat consectetur dolor ex, maiores nulla aut
                    corrupti unde esse voluptate accusamus nobis accusantium mollitia quas id iste quisquam perferendis
                    laboriosam sint! Ab, debitis, quidem repellat natus dicta ullam facilis expedita pariatur doloremque
                    blanditiis id reprehenderit praesentium voluptatibus voluptatem dolores. Aliquid vel fugiat illo?
                    Illum iste veniam placeat minus laboriosam hic delectus consequatur veritatis et molestiae. Quae
                    fuga eius quidem mollitia, dolorem ullam soluta delectus, laborum illo earum inventore maxime
                    laudantium officiis pariatur numquam eveniet ab. Pariatur nulla fugiat nobis placeat, nihil sapiente
                    similique quo magnam ad tempora eum dolore quod sunt illum earum quisquam corporis natus, molestiae
                    eveniet eaque aliquam aut. Ducimus illum aperiam veniam velit tenetur possimus iure hic quae labore
                    facilis assumenda eaque eos cum at voluptatem unde, aut ipsam magni harum rem accusantium,
                    consectetur maxime quis blanditiis. Deserunt unde rerum alias, accusantium natus placeat sed, quod
                    et autem maiores nulla impedit temporibus iste? Labore error sunt expedita tenetur nihil tempore
                    nisi dolores velit voluptatum. Obcaecati doloribus optio iste odio, repellat maxime, in quas,
                    exercitationem necessitatibus enim id dolorem placeat nemo adipisci ea. Molestias aliquam officia
                    iure autem architecto mollitia nisi porro totam, dolorem, accusantium nihil ex dolore at distinctio?
                    Odio quos dicta cupiditate magni illum doloribus eum obcaecati expedita voluptate, asperiores et.
                    Quasi nesciunt placeat exercitationem quisquam inventore dolorem, cumque aliquid explicabo mollitia
                    atque deleniti. Iste ut vel sint illo doloribus atque hic, vitae cumque repellat recusandae nam
                    dicta? Ad mollitia obcaecati quos aperiam optio molestias. Sit eos numquam adipisci culpa odit
                    deserunt voluptatum, molestias itaque laudantium, vitae in repellendus nobis sunt? Quae sint omnis
                    doloribus voluptates quo nam praesentium ratione exercitationem debitis et eum nobis iste qui, quasi
                    laboriosam aliquid temporibus, distinctio, inventore officiis fugiat sed. Iure voluptatum eligendi
                    dignissimos odit architecto perferendis consectetur error ex omnis magni, debitis esse voluptas fuga
                    mollitia commodi aliquam. Nostrum ab corrupti laborum impedit aperiam officia provident autem
                    asperiores vero, molestias soluta. Non tempore enim sapiente corporis distinctio voluptates nemo
                    neque voluptas magni quae, vitae earum minima optio odit reiciendis totam in error veniam.
                    Consequuntur exercitationem sequi expedita et dolorum sapiente enim sunt vero aspernatur sint? Est
                    voluptatum corporis eos, voluptates repellendus animi cumque aliquid possimus! Consequuntur
                    accusamus, non voluptas voluptatem, fugiat incidunt possimus eum quasi beatae cumque recusandae
                    accusantium adipisci est aliquam vero fugit aliquid suscipit at molestiae eveniet earum similique?
                    Ullam, ex voluptatibus! Aliquam itaque rerum ipsam iste facilis nemo atque quidem totam! Molestias
                    aperiam deserunt fuga nemo rem perferendis maxime nulla quas quisquam numquam ipsam, repellat
                    eligendi illo natus veniam corrupti officia in quae odio excepturi debitis, ex qui. Modi ut id illo?
                    Dolores iusto dolore, iure voluptatem perferendis ab nostrum harum nihil, eos corrupti asperiores
                    vero! Deleniti dicta qui alias itaque, quod dolorem animi debitis? Ipsa quos corrupti aspernatur eos
                    accusamus pariatur fugiat odio placeat voluptas recusandae modi aliquid nobis itaque ex
                    reprehenderit consectetur impedit, quam suscipit. Aspernatur, illum repudiandae tempore assumenda
                    incidunt vitae et. Impedit enim veritatis quas? Mollitia at ad tempore exercitationem quos corporis
                    odio eius deserunt ut, maxime modi, ipsam ea. Mollitia asperiores consectetur error, labore expedita
                    tempore ducimus et nostrum tenetur veritatis assumenda nemo veniam id eligendi fugiat at natus
                    quisquam odit soluta neque omnis! Fugit eos reprehenderit repudiandae atque dolor modi doloremque
                    sint eum doloribus id cupiditate, praesentium laudantium tempore earum ratione voluptas quasi
                    voluptatem! Neque, deleniti ea magni doloribus et necessitatibus provident. Asperiores nobis
                    reiciendis repellendus libero? Dicta animi repellendus perspiciatis dolorem cumque accusantium
                    officiis asperiores debitis! Quas rerum totam iure blanditiis similique, soluta tempore ipsum,
                    tenetur dolorum ducimus eius voluptatem corporis eveniet? Velit illum repudiandae explicabo,
                    recusandae labore et blanditiis, accusantium temporibus ullam ex voluptatum quod nihil at laboriosam
                    quidem doloribus. Consequuntur iste neque deleniti quo nulla doloremque quaerat expedita tenetur
                    alias.
                    
                    <div th:if="${session.grammarLevel == 9}">
                        <th:block th:include="~{_shared/grammarUpBtn}" />
                    </div>

                </div>
            </div>
        </div>

        <th:block th:include="~{_shared/footer}" />
    </div>
</body>

</html>